<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  <title>AwardHacker - Booking</title>
  <meta name="Description" content="A free tool to help everyone search for best award flights.">
  
  <meta property="og:url" content="https://www.awardhacker.com">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.awardhacker.com/static/images/awardhacker.png">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>
<body>
  <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Booking Web</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('bookingweb') }}">Booking Web</a>
              <a class="nav-item nav-link" href="about.html">About</a>
              <a class="nav-item nav-link" href="feedback.html">Feedback</a>
              <a class="nav-item nav-link" href="blog.html">Blog</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
          <div class="col-md-8">
          {% block content %}{% endblock %}
          </div>
      </div>
  </main>
</body>
</html>